In [1]:
import requests
import json
import pandas as pd
import re
from IPython.core import error

In [3]:
icao = ["EDDM", "EDDH", "EDDB"]
city = ['Munich', 'Hamburg', 'Berlin']
airport_table_df = pd.DataFrame({'icao' : icao,
                                'city' : city})

airport_table_df

   icao     city
0  EDDM   Munich
1  EDDH  Hamburg
2  EDDB   Berlin

In [4]:
from sqlalchemy import create_engine

schema = "gans_db"  # name of the database you want to use here
host = "127.0.0.1"                 # to connect to your local server
user = "root"
password = "Introduce your password"      # your password!!!!
port = 3306
# Initialize engine
connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
engine = create_engine(connection_string)

airport_table_df.to_sql('airport_table',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=engine,            # con-> connection string;
              index=False)

3